{% extends 'base.html.twig' %}

{% block title %}GestorTickets - Inicio{% endblock %}

{% block body %}
    {% if app.user %}
		<h1>Mis tickets / solicitudes</h1>
        <a href="{{ path('app_ticket_new') }}">Crear ticket</a>
		<br>

		<table class="table">
			<thead>
				<tr>
					<th>Título</th>
					<th>Texto</th>
					<th>Atendido por</th>
                    <th>Estado</th>
                    <th>Puntuación</th>
                    <th>¿De 1 a 5...?</th>
                    <th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for ticket in tickets %}
				<tr>
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.text }}</td>
                    <td>{{ ticket.worker ? ticket.worker.username : 'A la espera' }}</td>
                    <td>{{ ticket.state ? ticket.state : 'No tramitado' }}</td>
                    <td>{{ ticket.score ? ticket.score : '-' }}</td>
					{% if ticket.state == "finalizado" and ticket.score is null %}
                        <td>
                            <a href="{{ path('app_main') }}">1</a>&nbsp;
                            <a href="{{ path('app_main') }}">2</a>&nbsp;
                            <a href="{{ path('app_main') }}">3</a>&nbsp;
                            <a href="{{ path('app_main') }}">4</a>&nbsp;
                            <a href="{{ path('app_main') }}">5</a>
                        </td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('app_main') }}">Mensajes</a>
                    </td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">No tienes tickets</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<br>
	{% else %}
		<img src="./images/showcase.png" alt="Imagen de medios de comunicación" width="auto" height="300" />
	{% endif %}
{% endblock %}
