{% extends 'base.html.twig' %}

{% block title %}GestorTickets - Ticket{% endblock %}

{% block body %}
    <h1>Ticket</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Título</th>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ ticket.text }}</td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td>{{ ticket.client ? ticket.client.username : '-' }}</td>
            </tr>
        </tbody>
    </table>
    <br>
    {% if ticket.state != "finalizado" %}
        <form action="{{ path('app_message_create', {'id': ticket.id}) }}" method="get">
            <input type="text" name="response" placeholder="Escribe aquí..." />
            <input type="submit" value="Responder" />
        </form>
        <br><br>
    {% endif %}
    <h1>Mensajes del ticket</h1>
    {% for message in messages %}
        <div>
            <p><b>{{ message.author ? message.author.username : '-' }}</b>: {{ message.text }}</p><br>
        </div>
    {% else %}
        <div>
            <p>No hay mensajes</p>
        </div>
    {% endfor %}
{% endblock %}
