<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}GestorTickets - Bienvenido{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/css/styles.css">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar">
            {% if app.user %}
                <div  class="options-menu">
                    <a href="{{ path('app_main') }}">Inicio</a>
                    {% for role in app.user.roles %}
                        {% if role == "ROLE_ADMIN" %}
                            {#<a href="{{ path('app_user') }}">Área del administrador</a>#}
						{% endif %}
					{% endfor %}
				</div>
				<div class="options-menu-login">
					<b>{{ app.user.username }}</b>
					<a href="{{ path('app_logout') }}">Cerrar sesión</a>
				</div>
			{% else %}
				<div class="options-menu-login">
					<a href="{{ path('app_login') }}">Iniciar sesión</a>
					<a href="{{ path('app_register') }}">Registrarse</a>
				</div>
			{% endif %}
		</div>

        <div class="main">
            {% block body %}{% endblock %}
		</div>
    </body>
</html>
